# Predicting Money Laundering

In this activity, you'll gain hands-on experience on using SageMaker Studio to prepare the data for a machine learning application that will predict whether or not a cash or transfer bank transaction is potential money laundering fraud.

## Instructions

In [17]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

### Load the Data into Pandas

In [18]:
# Load the CSV data into a DataFrame
file_path = '../Resources/money_laundering.csv'
df = pd.read_csv(file_path)

# Display sample data
df

,typeofaction,sourceid,destinationid,amountofmoney,year,month,day,dayofweek,isfraud
0,cash-in,30105,28942,494528,2019,7,19,4,1
1,cash-in,30105,8692,494528,2019,5,17,4,1
2,cash-in,30105,60094,494528,2019,7,20,5,1
3,cash-in,30105,20575,494528,2019,7,3,2,1
4,cash-in,30105,45938,494528,2019,5,26,6,1
...,...,...,...,...,...,...,...,...,...
2335,transfer,14945,43793,106907,2019,3,29,4,0
2336,transfer,9532,43793,106907,2019,4,13,5,0
2337,transfer,27332,43793,106907,2019,5,10,4,0
2338,transfer,32685,43793,106907,2019,7,8,0,0
2339,transfer,26390,43793,106907,2019,3,25,0,0

## Preprocess Data

### Encode Categorical Data

Since the `typeofaction` column has categorical data, use the `OneHotEncoder` module from Scikit-learn to transform this column's categories into a numerical representation.

**Hint:** You can recall how to use the `OneHotEncode` module in [this article from the Scikit-learn's User Guide](https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features).

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [20]:
df.columns

Index(['typeofaction', 'sourceid', 'destinationid', 'amountofmoney', 'year',
       'month', 'day', 'dayofweek', 'isfraud'],
      dtype='object')

In [21]:
# Create a list of the columns with categorical variables
categorical_variables = ['typeofaction']

In [22]:
# Use the fit_transform function from the OneHotEncoder to encode the data
encoded_data = enc.fit_transform(df[categorical_variables])

In [23]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Display sample data
encoded_df

      typeofaction_cash-in  typeofaction_transfer
0                      1.0                    0.0
1                      1.0                    0.0
2                      1.0                    0.0
3                      1.0                    0.0
4                      1.0                    0.0
...                    ...                    ...
2335                   0.0                    1.0
2336                   0.0                    1.0
2337                   0.0                    1.0
2338                   0.0                    1.0
2339                   0.0                    1.0

[2340 rows x 2 columns]

In [24]:
# Drop the 'typeofaction' column from the original DataFrame
df = df.drop(columns='typeofaction')

# Display sample data
df

,sourceid,destinationid,amountofmoney,year,month,day,dayofweek,isfraud
0,30105,28942,494528,2019,7,19,4,1
1,30105,8692,494528,2019,5,17,4,1
2,30105,60094,494528,2019,7,20,5,1
3,30105,20575,494528,2019,7,3,2,1
4,30105,45938,494528,2019,5,26,6,1
...,...,...,...,...,...,...,...,...
2335,14945,43793,106907,2019,3,29,4,0
2336,9532,43793,106907,2019,4,13,5,0
2337,27332,43793,106907,2019,5,10,4,0
2338,32685,43793,106907,2019,7,8,0,0
2339,26390,43793,106907,2019,3,25,0,0

Using the encoded data from the `typeofaction` column, we will add to the original DataFrame a new column called `operationtype`. Where `1` will represent a cash-in operation, and `0` will describe a transfer.

In [26]:
# Add the encoded 'typeofaction' data to the original DataFrame
df["operationtype"] = encoded_df['typeofaction_cash-in']

# Display sample data
df

,sourceid,destinationid,amountofmoney,year,month,day,dayofweek,isfraud,operationtype
0,30105,28942,494528,2019,7,19,4,1,1.0
1,30105,8692,494528,2019,5,17,4,1,1.0
2,30105,60094,494528,2019,7,20,5,1,1.0
3,30105,20575,494528,2019,7,3,2,1,1.0
4,30105,45938,494528,2019,5,26,6,1,1.0
...,...,...,...,...,...,...,...,...,...
2335,14945,43793,106907,2019,3,29,4,0,0.0
2336,9532,43793,106907,2019,4,13,5,0,0.0
2337,27332,43793,106907,2019,5,10,4,0,0.0
2338,32685,43793,106907,2019,7,8,0,0,0.0
2339,26390,43793,106907,2019,3,25,0,0,0.0

### Create the features and target sets

The features set will be all the columns from the original DataFrame except the `isfraud` column that constitutes the target set.

In [ ]:
# Create the features set X


# Display sample data
# YOUR CODE GOES HERE!

In [ ]:
# Create the target set y
# YOUR CODE GOES HERE!

# Display sample data
# YOUR CODE GOES HERE!

### Split the features and target sets into training and testing datasets

In [ ]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = # YOUR CODE GOES HERE!

### Use the Scikit-Learnâ€™s `StandardScaler` to scale the features data

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = # YOUR CODE GOES HERE!

# Scale the data
X_train_scaled = # YOUR CODE GOES HERE!
X_test_scaled = # YOUR CODE GOES HERE!